<div class="cp-container">
    <div class="toolbar">
        <button ng-class="{active:isActiveTab(mouse)}" ng-click="onClickTab(mouse)">
            <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
        </button>
        <button ng-class="{active:isActiveTab(point)}" ng-click="onClickTab(point)">
            <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;Point
        </button>
        <button ng-class="{active:isActiveTab(line)}" ng-click="onClickTab(line)">Line</button>
        <button ng-class="{active:isActiveTab(path)}" ng-click="onClickTab(path)">Path</button>
        <button ng-click="undo()">
            <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Undo
        </button>
        <button ng-click="redo()">
            <i class="fa fa-repeat" aria-hidden="true"></i>&nbsp;&nbsp;Redo
        </button>
        <button ng-click="reset()">
            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Reset
        </button>
    </div>
    <canvas id="cp"></canvas>
</div>